.hero{
    padding-top: 214px;
    padding-bottom: 136px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/smart-header.jpg");
    &__title{
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__text{
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
        margin-top: 12px;
        margin-bottom: 17px;
        padding: 0 36px;
    }
    &__btn{
        padding: 13px 38px;
        border-radius: 20px;
        border: none;
        margin: 0 auto;
        background-color: #FF4E50;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }
}